.seminar-details-form{
    margin-left: 3rem;
}
.seminar-type-wrapper h1{
    font-size: 36px;
    margin-bottom: 1rem;
}
.seminar-type-wrapper input{
    padding: 0.5rem 2.5rem;
    color: #002855;
    border: 2px solid #002855;
    background-color: transparent;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-two{
    margin-left: 1.5rem;
}
.seminar-details-location-wrapper h1{
    font-size: 36px;
    margin-top: 2rem;
}
.seminar-locations-list:nth-child(2){
    margin-top: 1rem;
}
.seminar-locations-list p{
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
}
.seminar-day-wrappper{
    margin-top: 2rem;
}
.seminar-day-wrappper input{
    padding: 0.5rem 5rem;
}
.seminar-time-wrapper h1{
    margin-top: 2rem;
}