* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.seminar-details-form {
    margin-left: 3rem;
}

.seminar-type-wrapper h1 {
    font-size: 36px;
    margin-bottom: 1rem;
}

.seminar-day-wrapper h1 {
    margin-top: 1rem;
}

.seminar-type-wrapper input {
    width: 90%;
    color: #002855;
    border: 2px solid #002855;
    background-color: transparent;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

.seminar-details-location-wrapper h1 {
    font-size: 36px;
    margin-top: 2rem;
}

.seminar-locations-list {
    margin: 1rem 0rem;
}

.seminar-locations-list:nth-child(2) {
    margin-top: 1rem;
}

.seminar-locations-list p:hover {
    color: #78BE21;
}

.seminar-locations-list p {
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.5s ease all;
}


.seminar-time-wrapper h1 {
    margin-top: 2rem;
}

.seminar-timing-btns-wrapper {
    margin-top: 2rem;
}

.seminar-timing-btns-wrapper input,
.seminar-timing-btns-wrapper .labl {
    margin-bottom: 1rem !important;
    width: 90%;
    padding: 1rem 0rem;
}

.seminar-time-seat-register--wrapper {
    margin-bottom: 2rem;
}

.time-btn {
    background-color: transparent;
    border: 2px solid #002855;
    color: #002855;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
}

.seats-btn {
    background-color: #002855;
    color: #fff;
    font-size: 24px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.register-btn {
    background-color: #470A68;
    color: #fff;
    margin-top: 2rem;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.labl>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    /* position: absolute; */
    /* Remove input from document flow */
}

.labl>input+div {
    text-align: center;
    width: 90%;
    cursor: pointer;
    border: 2px solid #002855;
    border-radius: 5px;
    background-color: #ffff;
}

/* .labl>input+.time{
    width: 100% !important;
} */

.labl>input+div p {
    font-family: "Open Sans", sans-serif;
}

.labl>input:checked+div>p {
    /* (RADIO CHECKED) DIV STYLES */
    background-color: #002855;
    transition: 0.5s ease all;
    color: #fff !important;
}

.labl>input:checked+.time>p {
    color: #470A68 !important;
    background-color: transparent !important;
}

.labl>input:checked+.time {
    border: 2px solid #470A68 !important;
}

.labl .radio-option-text {
    font-family: "Open Sans", sans-serif;
    transition: 0.5s ease all;
    color: #002855;
    padding: 1rem 0rem;
    font-weight: 400;
    font-size: 24px;
}

.label>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    /* position: absolute; */
    /* Remove input from document flow */
}

.label>input+div {
    text-align: start;
    cursor: pointer;
}

.label>input+div p {
    /* font-family: "Open Sans", sans-serif; */
}

.label>input:checked+div>p {
    /* (RADIO CHECKED) DIV STYLES */
    color: #78BE21 !important;
    transition: 0.5s ease all;
}

.label .radio-option-text {
    font-family: "Open Sans", sans-serif;
    transition: 0.5s ease all;
    color: #002855;
    font-size: 24px;
}


/* SEMINAR REGISTER PAGE STYLING START HERE */
.border-top {
    border-top: 3px solid lightgray;
}

.seminar-register-heading h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 48px;
}

.contact-info-head {
    font-size: 32px;
    margin-bottom: 1rem;
}

.seminar-date {
    font-size: 32px;
    margin-bottom: .5rem;
}

.contact-form {
    width: calc(70vw + 2rem);
    margin: auto;
    margin-top: 2rem;
    max-width: 571px;

}

.contact-form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0rem;
    border: 0;
    background-color: #F2F2F2;
    color: #2D3232;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 2px solid darkgray;
}

.submit-btn {
    background-color: #4C6888 !important;
    color: #fff !important;
    border: 0 !important;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
}

.contact-form input:focus {
    outline: none !important;
    border-bottom: 2px solid #002855;
    box-shadow: none !important;
}

.contact-form .field-wrapper {
    margin-bottom: 2rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1100px) {

    .seminar-timing-btns-wrapper input,
    .seminar-timing-btns-wrapper .labl p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 899px) {

    .seminar-details-form {
        margin-right: 1rem;
    }

    .register-btn,
    .seats-btn {
        margin-top: 1rem;
    }
    .seminar-details-location-wrapper, .seminar-day-wrapper, .seminar-time-wrapper{
        margin-top: 2rem;
        border-top: 1px solid #00A5DF;
    }


    .seminar-timing-btns-wrapper input,
    .seminar-timing-btns-wrapper .labl {
        margin-bottom: 0rem !important;
    }
}

@media only screen and (max-width: 708px) {
    .labl>input+div {
        margin: auto;
    }

    .seminar-time-wrapper .center {
        display: flex;
        justify-content: center;
    }

    /* .seminar-timing-btns-wrapper .labl>input+div{
        width: 60% !important;
    } */
    .labl>input+div,
    .seminar-timing-btns-wrapper input,
    .seminar-timing-btns-wrapper .labl>input+div {
        width: 90% !important;
    }

    .seminar-timing-btns-wrapper .labl>input+.time {
        width: 100% !important;
    }

}

@media only screen and (max-width: 651px) {
    .seminar-details-form {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 510px) {

    .labl>input+div,
    .seminar-timing-btns-wrapper input {
        width: 90%;
    }
}

@media only screen and (max-width: 436px) {
    .seminar-details-form h1 {
        font-size: 30px;
    }
}