*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.seminar-details-form{
    margin-left: 3rem;
}
.seminar-type-wrapper h1{
    font-size: 36px;
    margin-bottom: 1rem;
}
.seminar-type-btns{
    margin-top: 2rem;
}
.seminar-type-wrapper input{
    padding: 1rem 0rem;
    width: 90%;
    color: #002855;
    border: 2px solid #002855;
    background-color: transparent;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}
.seminar-details-location-wrapper h1{
    font-size: 36px;
    margin-top: 2rem;
}
.seminar-locations-list:nth-child(2){
    margin-top: 1rem;
}
.seminar-locations-list p{
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
}
.seminar-day-wrappper{
    margin-top: 2rem;
}

.seminar-time-wrapper h1{
    margin-top: 2rem;
}
.seminar-timing-btns-wrapper{
    margin-top: 2rem;
}
.seminar-timing-btns-wrapper input{
    width: 90%;
    padding: 1rem 0rem;
}
.time-btn{
    background-color: transparent;
    border: 2px solid #002855;
    color: #002855;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
}
.seats-btn{
    background-color: #002855;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
.register-btn{
    background-color: #470A68;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* SEMINAR REGISTER PAGE STYLING START HERE */
.border-top{
    border-top: 3px solid lightgray;
}
.seminar-register-heading h1{
    text-align: center  ;
    margin-top: 1rem;
    font-size: 48px;
}
.contact-info-head{
    font-size: 32px;
    margin-bottom: 1rem;
}
.seminar-date{
    font-size: 32px;
    margin-bottom: .5rem;
}
.contact-form{
    width: calc(70vw + 2rem);
    margin: auto;
    margin-top: 2rem;
    max-width: 571px;

}

.contact-form input{
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0rem;
    border: 0;
    background-color: #F2F2F2;
    color: #2D3232;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 2px solid darkgray;
}
.submit-btn{
    background-color: #4C6888 !important;
    color: #fff !important;
    border: 0 !important;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
}
.contact-form input:focus{
    outline: none !important;
    border-bottom:2px solid #002855 ;
    box-shadow: none !important;
}
.contact-form .field-wrapper{
    margin-bottom: 2rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1100px){
    .seminar-timing-btns-wrapper input {
        font-size: 18px;
    }
}
@media only screen and (max-width: 899px){
    .seminar-type-wrapper input, .seminar-timing-btns-wrapper input{
        width: 60%;
        margin-bottom: 1rem;
    }
    .seminar-details-form{
        margin-right: 1rem;        
    }
}
@media only screen and (max-width: 708px){
    .seminar-type-wrapper h1, .seminar-time-wrapper h1{
        display: flex;
        justify-content: center !important;
    }
    .seminar-type-wrapper .center, .seminar-time-wrapper .center{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 651px){
    .seminar-details-form{
        margin-left: 1rem;
    }
 }
@media only screen and (max-width: 510px){
    .seminar-type-wrapper input, .seminar-timing-btns-wrapper input{
        width: 90%;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 436px){
    .seminar-details-form h1{
        font-size: 30px;
    }
}